--index-url http://repository.aishu.cn:8081/repository/pypi/simple
--trusted-host repository.aishu.cn
allure-python-commons==2.16.1
allure-pytest==2.16.1
pytest==9.1.1
Requests==2.34.2
ruamel.yaml==0.17.21
urllib3==2.8.0
pycryptodome==3.23.0
jsonschema==4.21.1
jsonschema-specifications==2023.7.1
pyyaml==6.0.1
pymysql==1.1.3
